div{
background-color: aquamarine;
text-align: justify;

}
h1{
text-align: center;
color: red;}
div{

background-image:url(https://unsplash.com/photos/a-person-using-a-laptop-computer-on-a-table-AoDMssi2UOU);


}
